In [ ]:
import pandas as pd
data = [10, 20, 30, 40]
series = pd.Series(data)
print(series)

In [ ]:
data = {'Name': ['Alice', 'Bob', 'Charlie'], 'Age': [25, 30, 35]}
df = pd.DataFrame(data)
print(df)

In [ ]:
print(df['Name'])
print(df.iloc[1])
print(df.loc[1, 'Name'])

In [ ]:
df = pd.DataFrame({'A':[1,2,3],'B':[4,5,6]})
print(df.loc[0])
print(df.iloc[1])

In [ ]:

df['C'] = [7, 8, 9]
df = df.drop('C', axis=1)

In [ ]:
df = pd.DataFrame({'Category': ['A', 'A', 'B', 'B'], 'Value': [10, 15, 20, 25]})
grouped = df.groupby('Category').sum()
print(grouped)

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A': [1, np.nan, 3], 'B': [4, 5, np.nan]})
print(df.isnull()) # Detect missing data

df = df.fillna(0) # Filling missing data with 0
print(df)

In [ ]:
import pandas as pd
series = pd.Series([5,10,15,20,25])
print(series[2])

In [ ]:
 df = pd.DataFrame({

 'Name': ['Alice', 'Bob', 'Charlie'],
 'Age': [23, 30, 28],
 'City': ['New York', 'Los Angeles', 'Chicago']
})
print(df['City'])

In [ ]:
df = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [23, 30, 28],
    'Salary': [50000, 60000, 55000]
})
df['Gender'] = ['M','F','M']
print(df)

In [ ]:
df = df.drop(columns=['Age'])
print(df)

In [ ]:
import pandas as pd

# Create a Pandas Series
series = pd.Series([8, 16, 24, 32, 40])

# Access the second element (index 1)
second_element = series[1]

print(second_element)  # Output: 16

In [ ]:
import pandas as pd

# Create the DataFrame
data = {'Name': ['Sarah', 'Tom', 'Emily'],
        'Age': [29, 35, 22],
        'City': ['Boston', 'Miami', 'Seattle']}
df = pd.DataFrame(data)

# Retrieve the City column
city_column = df['City']

print(city_column)

In [ ]:
import pandas as pd

# Create the DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [23, 30, 28],
        'Salary':[50000,60000,55000]}

df = pd.DataFrame(data)


# Add the Gender column
df['Gender'] = ['M', 'F', 'F']

print(df)

In [ ]:
# Assuming 'df' is the DataFrame from Problem 3

# Remove the Salary column
df = df.drop(columns=['Salary'])

print(df)

In [ ]:
import pandas as pd

# Create the Series
series = pd.Series([10, 20, 30, 40], index=['A', 'B', 'C', 'D'])

# Retrieve the value associated with label 'C'
value_c = series['C']

print(value_c)  # Output: 30

In [ ]:
import pandas as pd

# Create the DataFrame
data = {'Product': ['A', 'B', 'C'],
        'Price': [100, 200, 300]}
df = pd.DataFrame(data)

# Insert the Discount column
df['Discount'] = [5, 10, 15]

print(df)

In [ ]:
import pandas as pd

# Create the DataFrame (assuming it has missing values in 'Age')
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [23, None, 28],
        'Country': ['USA', 'Canada', 'UK']}
df = pd.DataFrame(data)

# Replace missing values in 'Age' with 25
df['Age'] = df['Age'].fillna(25)

print(df)

In [ ]:
import pandas as pd

# Create the DataFrame
data = {'Category': ['A', 'B', 'A', 'B'],
        'Value': [30, 40, 50, 60]}
df = pd.DataFrame(data)

# Group by Category and compute the mean of Value
grouped = df.groupby('Category')['Value'].mean()

print(grouped)

In [ ]:
import pandas as pd

# Create the DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [23, 30, 28],
        'Score': [85, 92, 78]}
df = pd.DataFrame(data)

# Calculate the median of the Score column
median_score = df['Score'].median()

print(median_score)  # Output: 85.0

In [ ]:
import pandas as pd

# Create the DataFrame
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 35, 28, 32],
        'Gender': ['F', 'M', 'M', 'M']}
df = pd.DataFrame(data)

# Filter rows where Age is less than 30
filtered_df = df[df['Age'] < 30]

print(filtered_df)